<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templating</title>
</head>
<body>
    <h1>This is my first templet <%= data%></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque expedita in blanditiis esse nostrum ipsa, harum ad aspernatur provident non iste recusandae natus unde maxime dolores sint quam dolorum numquam. Vitae quas minus ex!</p>
    <button>submit</button>
    <h1><%= 3*8 %></h1>
    <h1><%= "payal".toUpperCase() %></h1>
    <h1><%= ["patal","sejal", "jaya"][2] %></h1>

    <%- include("includes/footer.ejs") %>
</body>
</html>